<div class="contato">
    <div class="contato-panel" style="background-image:url('/assets/images/contact.png');">
        <table class="contato-table">
            <tr>
                <td align="center" class="contato-column-1">
                    <div class="text1"><b>Vamos manter o contato!</b></div>
                    <div class="text2"><b>O INMC - Instituto Nacional Mente Consciente nasceu com o objetivo de trazer mais qualidade de vida para os brasileiros através de técnicas que proporcionam uma melhor clareza de mente, produtividade e bem-estar.</b></div>
                    <div class="text2"><b>Aceitamos sugestões e estamos prontos para responder qualquer dúvida.</b></div>    
                    <div class="text2"><b>Preencha o formulário abaixo ou mande um e-mail para: marina.cruz@inmc.com.br</b></div>
                </td>
                <td class="contato-column-2">
                    <form role="form">
                        <div class="form-group">
                            <label for="email">Nome:</label>
                            <input type="text" class="form-control" id="nome">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Endereço Eletrônico</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Mensagem</label>
                            <textarea class="form-control" rows="9" id="text"></textarea>
                        </div>
                        <button type="submit" class="btn btn-default">Enviar</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>    
</div>