<html lang="en-us" ng-app="myApp">
    <head>
        <title>Learn and Understand AngularJS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">


        <!-- load angular via CDN -->
        <script src="//code.angularjs.org/1.5.0-rc.0/angular.min.js"></script>
        <script src="//code.angularjs.org/1.5.0-rc.0/angular-route.min.js"></script>
        <script src="//code.angularjs.org/1.5.0-rc.0/angular-animate.min.js"></script>
        <script src="/assets/js/app.js"></script>
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="/assets/js/routes.js"></script>
        <script src="/assets/js/services/headerService.js"></script>
        <script src="/assets/js/controllers/mainController.js"></script>
        <script src="/assets/js/controllers/palestranteController.js"></script>
        <script src="/assets/js/controllers/headerController.js"></script>
        <script src="/assets/js/controllers/meditacaoController.js"></script>
        <script src="/assets/js/controllers/contatoController.js"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/assets/css/header.css" />
        <link rel="stylesheet" href="/assets/css/slider.css" />
        <link rel="stylesheet" href="/assets/css/section2.css" />
        <link rel="stylesheet" href="/assets/css/section3.css" />
        <link rel="stylesheet" href="/assets/css/section4.css" />
        <link rel="stylesheet" href="/assets/css/palestrantes.css" />
        <link rel="stylesheet" href="/assets/css/meditacao.css" />
        <link rel="stylesheet" href="/assets/css/contato.css" />
    </head>
    <body>

        <header ng-controller="headerController">
			<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand " href="#">
                        <img class="logo" src="/assets/images/icon.png"/>
                    </div>
                    <p class="navbar-brand title">Instituto Nacional <br/>Mente Consciente</p>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                       <li ng-class="{ 'active': currentTab === 0 }"><a href="#principal">Principal</a></li>    
                       <li ng-class="{ 'active': currentTab === 1 }"><a href="#meditacao">Meditação</a></li>
                       <li ng-class="{ 'active': currentTab === 2 }"><a href="#palestrantes">Palestrantes</a></li>
                       <li ng-class="{ 'active': currentTab === 3 }"><a href="#contato">Contato</a></li>
                       <button type="button" class="btn btn-default">Inscreva-se</button>
                   </ul>
                </div>  
			</div>
			</nav>
		</header>

            <div ng-view></div>
    </body>
</html>