<div class="meditacao">
<div class="background">
    <div class="panel panel-primary">
        <div class="panel-heading">Por que meditar?</div>
        <div class="panel-body"> 
            <table class="text">
                <tr> 
                    <td class="image-column">
                        <div class = "image" style="background-image:url('/assets/images/meditationMindBody.jpg')"></div>
                    </td>
                    <td class="text-column">
                        <div class="question"> 
                           
                        </div>
                        <div class="answer">
                                A meditação é capaz de trazer benefícios físicos e mentais a quem a pratica com regularidade. Estudos comprovaram que transformar a meditação em um hábito regular, sem a necessidade de vínculo com nenhuma religião, ajuda a aliviar o desconforto e melhorar a qualidade de vida de pacientes com dor crônica, insônia e depressão, além de reforçar a imunidade, reduzir o nível dos hormônios do stress, a pressão arterial e o risco de doenças do coração.
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div align="center" class="animation" ng-animate=" 'animate' " <div ng-hide="meditation.number !== tip.number" ng-repeat="tip in meditation.tips">
            A meditação ajuda {{tip.text}}
    </div>
    <div class="panel panel-primary second">
        <div class="panel-heading">Por que participar do Congresso Online?</div>
        <div class="panel-body"> 
            <div align="center" class="answer">
                <b>Durante 7 dias especialistas do Brasil e do Exterior vão te ensinar como trazer mais equilíbrio para a sua vida.</b> 
            </div>
            <div align="center" class="answer">
                <b>De dia 3 palestras online transmitidas gratuitamente. De noite uma meditação guiada para você aprender praticando.</b>
            </div>
            <div align="center" class="answer">
                <b>A Semana da Meditação será totalmente online e gratuito para quem assistir ao vivo.<br/>Ela ocorrerá de 25 a 31 de Janeiro</b>
            </div>
        </div>
    </div>
</div>
</div>