.contato {
    min-height: 100%;
}

.contato .contato-panel {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: fixed;
}

.contato .contato-table {
    margin-top: 76px;
    width: 100%;
    height: 100%;
}

.contato .contato-table .contato-column-1 {
    width: 50%;
}

@media screen and (min-width: 768px) {
    .contato .contato-table .text1 {
        font-size: 210%;
    }
    .contato .contato-table .text2 {
        font-size: 100%;
    }
}

@media screen and (max-width: 400px) {
    .contato .contato-table .text1 {
        font-size: 140%;
    }
    .contato .contato-table .text2 {
        font-size: 80%;
    }
    .contato .contato-column-2 .form-group label {
        font-size: 85%;
    }
    .contato td {
        padding-bottom: 40%;
    }
}   
    
.contato .contato-table .text1 {
    padding-bottom: 10%;
    color: white;
}

.contato .contato-table .text2 {
    color: white;
    padding-bottom: 10%;
}

.contato .contato-column-2 {
    padding-left: 5%;
    padding-right: 5%;
}
.contato .contato-column-2 .form-group label {
    color: white;
}