.contato .contato-panel {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: fixed;
}

.contato .contato-table {
    margin-top: 76px;
    width: 100%;
    height: 100%;
}

.contato .contato-table .contato-column-1 {
    width: 50%;
}

.contato .contato-table .text1 {
    padding-bottom: 10%;
    color: white;
    font-size: 210%;
}
.contato .contato-table .text2 {
    color: white;
    font-size: 100%;
    padding-bottom: 10%;
}

.contato .contato-column-2 {
    padding-left: 5%;
    padding-right: 5%;
}
.contato .contato-column-2 .form-group label {
    color: white;
}