.title {
    width: 180px;
    margin-left: 0px;
    margin-top: 5px;
}
.logo {
    width: 50px;
}

.mobile-fixed-top {
    display: none;
}

@media screen and (max-width: 700px) {
    .mobile-fixed-top {
        margin-top: 76px;
        display: block;
    }
    
    .ng-scope {
        padding-top: 12px !important;
    }
    
    .mobile-fixed-top .navbar-collapse.collapse {
        display: block!important;
    }
    
    .mobile-fixed-top .navbar-nav.navbar-right:last-child {
        margin-right: -15px !important;
    }

    .mobile-fixed-top .nav.navbar-nav.navbar-right .buttonli {
        display: block !important;
        height: 35px !important;
    }
    .mobile-fixed-top .nav.navbar-nav.navbar-right button {
        display: block !important;
        position: absolute;
        right: 30%;
        top: 15%;
    }

    .mobile-fixed-top .navbar-nav {
        height: 35px !important;
    }
    
    .mobile-fixed-top .navbar-nav li a {
        height: 35px !important;
        padding-top: 0px !important;
    }
}

.mobile-fixed-top.display-none-mobile {
    display: none !important;
}

.navbar-default {
    border-color: #337ab7;
    background-color: #bce4ec;
}

.btn-default {
    border-color: #337ab7;
    background-color: #337ab7;
    color: white;
}

.navbar-header {
    height: 75px;
}

.navbar-nav {
    height: 75px;
}
.navbar-nav li a{
        height: 76px;
        padding-top: 25px;
}
.navbar-collapse.collapsing {
    width: 600px;    
}
.navbar-collapse.collapse.in {
    height: 365px;
    width: 600px;
}

.nav.navbar-nav.navbar-right button {
    margin-top: -5px;
}

@media screen and (max-width: 770px) {
    .nav.navbar-nav.navbar-right button {
        display: none;
    }
    .nav.navbar-nav.navbar-right .buttonli {
        display: none;
    }
}

.navbar-collapse.collapse.in.nav.navbar-nav.navbar-right button {
    margin-top: 0px;
    border: none !important;
}
.navbar-toggle {
    height: 60px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: C0C0C0;
}