.title {
    width: 180px;
    margin-left: 0px;
    margin-top: 5px;
}
.logo {
    width: 50px;
}

.navbar-default {
    border-color: #337ab7;
    background-color: #bce4ec;
}

.btn-default {
    border-color: #337ab7;
    background-color: #337ab7;
    color: white;
}

.navbar-header {
    height: 75px;
}

.navbar-nav {
    height: 75px;
}
.navbar-nav li a{
        height: 76px;
        padding-top: 25px;
}
.navbar-collapse.collapsing {
    width: 600px;    
}
.navbar-collapse.collapse.in {
    height: 365px;
    width: 600px;
}

.nav.navbar-nav.navbar-right button {
    margin-top: -5px;
}

@media screen and (max-width: 770px) {
    .nav.navbar-nav.navbar-right button {
        display: none;
    }
    .nav.navbar-nav.navbar-right .buttonli {
        display: none;
    }
}

.navbar-collapse.collapse.in.nav.navbar-nav.navbar-right button {
    margin-top: 0px;
    border: none !important;
}
.navbar-toggle {
    height: 60px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: C0C0C0;
}