@media screen and (min-width: 768px) {
    .section2 {
        padding-top: 90px;
        padding-left: 140px;
        padding-bottom: 90px;
        background-color: #d4d7db;
    }
    .media-heading {
        font-size: 36px;
        padding-top: 25px;
    }

    .text-main {
        font-size: 20px;
        padding-top: 15px;
    }
}

/* sm */
@media screen and (max-width: 400px) {
    .section2 {
        padding-top: 40px;
        padding-left: 10px;
        background-color: #d4d7db;
    }
    .media-heading {
        font-size: 18px;
        padding-right: 0px;
        padding-top: 15px;
    }

    .text-main {
        font-size: 13px;
        padding-right: 15px;
        padding-top: 5px;
    }
}

.section2 img {
    width: 150;
}

