.section4 {
    padding-top: 20px;
    padding-left: 10px;
    background-color: #d4d7db;
}

.section4 .section-title {
    font-size: 33px;
    margin-bottom: 20px;
    margin-top: 15px !important;
}

.section4 img {
    border-top-left-radius: 275px;
    border-top-right-radius: 275px;
    border-bottom-right-radius: 275px;
    border-bottom-left-radius: 275px;    
}

.section4 .text-title {
    background-color: #90C3D4;
    display: inline-block;
    border-top-left-radius: 275px;
    border-top-right-radius: 275px;
    border-bottom-right-radius: 275px;
    border-bottom-left-radius: 275px;
    margin-top: -30px;
}
.section4 .text-title .text{
    padding: 5px;
}

.section4 .caption p {
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
}